.style-switcher
{
    position: fixed;
    right: 0;
    top: 60px;
    padding: 15px;
    width: 200px;
    border: 1px solid var(--bg-black-50);
    background: var(--bg-black-100);
    z-index: 101;
    border-radius: 5px;
    transition: all 0.3s ease;
    transform: translateX(100%);
}
.style-switcher.open
{
    transform: translateX(-25px);
}
.style-switcher .s-icon
{
    position: absolute;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 20px;
    background: var(--bg-black-100);
    color: var(--text-black-900);
    right: 100%;
    border: 1px solid var(--bg-black-50);
    margin-right: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 50%;
}
.style-switcher .s-icon i
{
    line-height: 40px;
}
.style-switcher .style-switcher-toggler
{
    top: 0;
}
.style-switcher .day-night
{
    top: 55px;
}
.style-switcher h4
{
    margin: 0 0 10px;
    color: var(--text-black-700);
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
}
.style-switcher .colors
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.style-switcher .colors span
{
    cursor: pointer;
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.style-switcher .color-1
{
    background: #ff0000 ;
}
.style-switcher .color-2
{
    background:  #9b0ed3;
}
.style-switcher .color-3
{
    background: #ff4800;
}
.style-switcher .color-4
{
    background: #11d0d6;
}
.style-switcher .color-5
{
    background:#00a72a ;
}
@media (max-width:450px) and (max-height:800px)
{
    .style-switcher
{
    
    width: 250px;
    height: 120px;
    padding-top: 30px;
}
.style-switcher .s-icon{
    transform: translate(-10px, 0);
    height: 50px;
    margin: 5px;
    padding: 5px 0;
    width: 50px;
    text-align: center;
    font-size: 20px;  
}
}