@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&display=swap');
:root
{
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;
    --bg-black-custome: #ffffff;
    --scroll-thumb:rgba(255, 255, 255, 0.027);
}
html
{
    scroll-behavior: smooth;
}
body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body.dark
{
    --bg-black-custome: #292929;
        --bg-black-900: #151515;
        --bg-black-100: #222222;
        --bg-black-50: #393939;
        --text-black-900: #ffffff;
        --text-black-700: #e9e9e9;
        --scroll-thumb:rgba(0, 0, 0, 0.041);
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
/* ::-webkit-scrollbar-track
{
    background: #000;
} */
::-webkit-scrollbar
{
    width: 5px;
    overflow: overlay;
    background: var(--scroll-thumb);
}
::-webkit-scrollbar-thumb
{
    width: 5px;
    border-radius: 5px;
    background: var(--skin-color);
}
body
{
    background: var(--bg-black-900);
    line-height: 1.5;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}
.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }
::before,::after
{
    box-sizing: border-box;
}
.row .social
{
    margin: 10px;
    justify-content: space-evenly;
    max-width: 100%;
    text-align: center;
}
.row .social a
{
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    color: var(--skin-color);
    background: var(--bg-black-custome);
    text-align: center;
    border-radius: 20px;
    transition: .5s ease;
    padding: 10px 40px;
    font-size: 1.5rem;
}
.row .social a i
{
    padding-right: 10px;
    scale: 1.5;
    padding: 5px 20px 0 0;
    overflow: hidden;
}
.row .social a:hover
{
    background: var(--skin-color);
    color: var(--text-black-700);
}
.goHomeBtn
{
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
    z-index: 9999;
    transition: .5s ease;
    
}
.goHomeBtn a
{
    text-decoration: none;
    background: var(--skin-color);
    color: var(--text-black-700);
    font-size: 24px;
    padding: 10px;
    box-shadow: 0 0 10px var(--skin-color);
    border-radius: 100%;
   
}
ul
{
    list-style: none;

}
.section
{
    background: var(--bg-black-900);
    min-height: 100vh;
    margin: 50px;
    display: block;
    padding: 0 30px;
    opacity: 1;
}
.hidden
{
    display: none !important;
}
.main-content
{
    font-family: "Poppins", sans-serif;
    padding-left: 270px;
}
.padd-10
{
    padding-left:10px;
    padding-right: 10px;
}
.padd-15
{
    padding-left: 15px;
    padding-right: 15px;
}
.container
{
    -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
    cursor: default;
    max-width: 1100px;
    width: 100%;
    margin: auto;
}
.section .container
{
    padding-top: 60px;
    padding-bottom: 70px;
}
.section-title
{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}
.section-title h2
{
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
}
.section-title h2::before
{
    content: '';
    height: 4px;
    width: 50px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;  
}
.section-title h2::after
{
    content: '';
    height: 4px;
    width: 25px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;  
    margin-top: 8px;
}
.row
{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position:relative;
}
.btn
{
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: white;
    border-radius: 40px;
    display: inline-block;
    border: none;
    white-space: nowrap;
    background: var(--skin-color);
    box-shadow:0 0 6px var(--skin-color);   
    transition: all 0.3s ease;
}
.btn:hover 
{
    transform: scale(1.05);
}
.shadow-dark
{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.aside
{
    width: 270px;
    background: var(--bg-black-100);
    position: fixed;
    display: flex;
    border-right: 1px solid var(--bg-black-50);
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    padding: 30px;
    height: 100%;
    z-index: 10;
    animation-delay: 500ms;
}
.aside .logo
{
    --webkit-user-select: none;
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
}
.aside .logo a
{
    font-family: "Poppins", sans-serif;
    color: var(--text-black-900);
    font-weight: 700;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 5px;
    position: relative;
}
.aside .logo a span
{
    font-family: 'Clicker Script', cursive;
    font-size: 40px;
}
.aside .logo a::before
{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom: 0;
    left: 0;
}
.aside .logo a::after
{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top: 0;
    right: 0;
}
.aside .nav-toggler span
{
    /* margin-top: 10px; */
    margin-top: 13px;
    height: 2px;
    width: 28px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
}
.aside .nav-toggler span::before
{
    content: '';
    height: 2px;
    width: 28px;
    background: var(--skin-color);
    position: absolute;
    top: -8px;
    left: 0;
}
.aside .nav-toggler span::after
{
    content: '';
    height: 2px;
    width: 28px;
    background: var(--skin-color);
    position: absolute;
    top: 8px;
    left: 0;
}
.aside .nav
{
    display: block;
    margin-top: 50px;
}
.aside .nav li
{
    margin-bottom: 20px;
    display: block;
}
.aside .nav li a
{
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    font-size: 16px;
    display: block;
    border: 1px solid var(--bg-black-50);
    border-radius: 5px;
    color: var(--text-black-900);
    padding: 5px 15px;
}
.active
{
    box-shadow: 0 0 10px var(--bg-black-custome);
    transition: all 0.3s ease;
    scale: 1.1;
    /* transform: translateY(-5px); */
    text-shadow: 0 0 5px var(--skin-color);
    color: var(--skin-color) !important;
}
.aside .nav li a i
{
    margin-right: 15px ;
}

/* Home */
.home
{
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
}
.home .home-info
{
    flex: 0 0 60%;
    max-width: 60%;
}
h3.hello
{
    font-size: 28px;
    margin: 15px 0;
}
h3.hello span
{
    margin: 0 10px 0 10px;
    font-family: 'Sacramento', cursive;
    font-size: 40px;
    font-weight: 700;
}
h3.hello span
{
    animation: animated_color linear infinite 20s;
}
@keyframes animated_color {
    0%
    {
        color: #ff0000;
    }
    20%
    {
        color:  #9b0ed3;
    }
    40%
    {
        color: #ff4800;
    }
    60%
    {
        color:#11d0d6 ;
    }
    80%
    {
        color: #00a72a ;
    }
    100%
    {
        color: #ff0000;
    }
    
}

h3.my-profession
{
    font-size: 30px;
    margin: 15px 0;

}
.typing
{
    font-family: "Edu AU VIC WA NT Pre", cursive;
    word-spacing: 5px;
    color: var(--skin-color);
}
.home-info p{
    margin-bottom: 70px ;
    font-size: 20px;
    color: var(--text-black-700);
}
.home .home-img
{
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
}
/* .home-img::after
{
    content: '';
    position: absolute;
    height: 10px;
    width: 120px;
    border-top: 10px solid var(--skin-color);
    bottom: 50px;
    right: 0;
} */
.home-img::before
{
    content: '';
    position: absolute;
    height: 10px;
    width: 270px;
    border-top: 10px solid var(--skin-color);
    top: -30px;
    translate: 10px;
    transition: .5s ease;
    box-shadow: 0 0 20px var(--skin-color);
    animation: float-animation linear infinite 5s;
}
@keyframes float-animation {
    0%{
        transform: translateY(0);
        transition: .5s;
    }
    50%
    {
        transform: translateY(-40px);
        transition: .5s;
    }
    100%
    {
        transform: translateY(0);
        transition: .5s;
    }
    
}
.home .home-img img
{
    box-shadow: 0 0 20px var(--skin-color);
    border: 1px solid var(--skin-color);
    -webkit-user-drag: none;
    margin: auto;
    border-radius: 10px;
    height: 400px;
}
/* About */
.about .about-content
{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .about-text
{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .about-text h3
{
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--text-black-900);
}
.about .about-content .about-text h3 span
{
    color: var(--skin-color);
}
.about .about-content .about-text p
{
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
}
.about .about-content .personal-info
{
    flex: 0 0 60%;
    max-width: 60%;
    margin-top: 40px;
}
.about .about-content .personal-info .info-item
{
    flex: 0 0 40%;
    max-width: 40%;
}
.about .about-content .personal-info .info-item p
{
    font-weight: 600 ;
    padding: 10px 0;
    font-size: 16px;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--bg-black-50);
}
.about .about-content .personal-info .info-item p span
{
    font-weight: 400;
    color: var(--bg-black-700);
    margin-left: 4px;
    display: inline-block;
}
.about-content .buttons
{
    margin-top: 30px;
}
.about .about-content .buttons .btn
{
    margin-right: 15px;
    margin-top: 10px;
}
.about .about-content .skills
{
    margin-top: 40px;
    flex: 0 0 40%;
    max-width: 40%;
}
.about .about-content .skills .skills-item
{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .skills .skills-item h5
{
    line-height: 40px;
    font-weight: 600;
    font-size: 16px;
    color: var(--text-black-900);
    text-transform: capitalize;
}
.about .about-content .skills .skills-item .progress
{
    background-color: var(--bg-black-50);
    height: 7px;
    border-radius: 4px;
    width: 100%;
    position: relative;
}
.about .about-content .skills .skills-item 
{
    margin-bottom: 20px;
}
.about .about-content .skills .skills-item .progress .progress-in
{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
    background: var(--skin-color);
}
.about .about-content .skills .skills-item .skill-percent
{
    position: absolute;
    right: 0;
    color: var(--text-black-900);
    top: -40px;
    font-weight: 400;
    line-height: 40px;
}
.about .about-content .education,
.about .about-content .experience
{
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
}
.about .about-content h3.section-title{
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 700;
    color: var(--text-black-900);
}
.about .about-content .timeline-box
{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .timeline
{
    background-color: var(--bg-black-100);
    padding: 30px 15px;
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    width: 100%;
    position: relative;
}
.about .about-content .timeline .timeline-item
{
    position: relative;
    padding-left: 37px;
    padding-bottom: 50px;
}
.about .about-content .timeline .timeline-item:last-child
{
    padding-bottom: 0;
}
.about .about-content .timeline .timeline-item::before
{
    content: '';
    width: 1px;
    position: absolute;
    height: 100%;
    left: 7px;
    top: 0;
    background-color: var(--skin-color);
}
.about .about-content .timeline .circle-dot
{
    position: absolute;
    left: 0;
    top: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--skin-color);
}
.about .about-content .timeline .timeline-date
{
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 12px;
    color: var(--text-black-700);
}
.about .about-content .timeline .timeline-date .fa
{
    margin-right: 5px;
}
.about .about-content .timeline .timeline-title
{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px ;
    text-transform: capitalize;
    color: var(--text-black-900);
}
.about .about-content .timeline .timeline-text
{
    line-height: 25px;
    font-size: 16px;
    color: var(--text-black-700);
}
.about .about-content .timeline .timeline-text a
{
    text-decoration: none;
    color: var(--skin-color);
}
/* Service*/
.service .container
{
    padding: 40px;
}

.service .service-item
{
    margin: 0 10px 30px 10px;
    flex: 0 0 49.99%;
    max-width: calc(49.99% - 20px);
}
.service .service-item .service-item-inner
{
    margin: 2px;
    cursor: pointer;
    background-color: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    padding: 30px 15px;
    text-align: center;
    transition: all 0.3s ease;
}
.service .service-item .service-item-inner:hover
{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.service .service-item .service-item-inner .icon
{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 30px;
    text-align: center;
    transition: all 0.3s ease;
}
.service .service-item .service-item-inner .icon .fa
{
    font-size: 40px;
    line-height: 60px;
    color: var(--skin-color);
    transition: all 0.3s ease;
}
.service .service-item .service-item-inner:hover .icon
{
    background: var(--skin-color);
}
.service .service-item .service-item-inner:hover .icon .fa
{
    font-size: 25px;
    color: #ffffff;
}
.service .service-item .service-item-inner h4
{
    font-size: 18px;
    margin-bottom: 15px;
    color: var(--text-black-900);
    font-weight: 700;
    text-transform: capitalize;
}
.service .service-item .service-item-inner p
{
    font-size: 16px;
    color: var(--text-black-700);
    line-height: 25px;
}
/* Portfolio */
.portfolio .portfolio-heading
{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}
.portfolio .portfolio-heading h2
{
    color: var(--text-black-900);
    font-weight: 500;
}

.portfolio .container
{
    padding-bottom: 40px;
}
.portfolio .portfolio-item
{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 30px;
}
.portfolio .portfolio-item-inner
{
    border: 4px solid var(--skin-color);
    border-radius: 10px;
}

/* .portfolio .portfolio-item-inner .portfolio-img img:hover > :not(:hover)
{
    filter: blur(5px);
    opacity: 0.5;
} */
.portfolio .portfolio-item-inner img
{
    width: calc(100%);
    display: flex;
    opacity: 1;
    border-radius: 6px;
}
.row:hover .portfolio-item-inner
{
    filter: blur(10px);
    opacity: 0.5;
    transition: .5s ease;
}
.row .portfolio-item-inner:hover
{
    filter: blur(0);
    opacity: 1;
    transition: .5s ease;
    transform: scale(1.02);
}


/* Contact */
.contact-title
{
    color: var(--skin-color);
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}
.contact-sub-title
{
    color: var(--text-black-900);
    text-align: center;
    font-size: 15px;
    margin-bottom: 60px;
}
.contact .contact-info-item
{
    background: var(--bg-black-custome);
    margin: 0 auto 20px auto;
    flex: 0 0 calc(50% - 20px);
    padding: 40px;
    border-radius: 30px;
    max-width: 50%;
    text-align: center;
}
.contact .contact-info-item .icon
{
    display: inline-block;
}
.contact .contact-info-item .icon .fa
{
    font-size: 25px;
    color: var(--skin-color);
}
.contact .contact-info-item h4
{
    font-size: 18px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: capitalize;
    margin: 15px 0 5px;
}
.contact .contact-info-item p
{
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
    font-weight: 400;
}
.contact .contact-info-item p a
{
    text-decoration: none;
    color: var(--text-black-700);
}
.contact .contact-form
{
    flex: 0 0 100%;
    max-width: 100%;
}
.contact .contact-form .col-6
{
    flex: 0 0 50%;
    max-width: 50%;
}
.contact .contact-form .col-12
{
    flex: 0 0 100%;
    max-width: 100%;
}
.contact .contact-form .form-item
{
    margin-bottom: 30px;
}
.contact .contact-form .form-item .form-control
{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    padding: 10px 25px;
    font-size: 16px;
    color: var(--text-black-700);
    transition: all 0.3s ease;
}
.contact .contact-form .form-item .form-control:focus
{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.contact .contact-form .form-item textarea.form-control
{
    font-family: "Poppins",sans-serif;
    height: 140px;
}
.contact .contact-form .btn
{
    cursor: pointer;
    height: 50px;
    padding: 0 50px;
    font-size: 20px;
    text-transform: uppercase;
}
.contact .contact-form .button
{
    max-width: 100%;
    margin: 0 auto 0 auto;
    align-items: center;
    justify-content: center;
    display: grid;
}
@media(max-width: 1283px) 
{
    .aside
    {
        left: -270px;
    }
    .main-content
    {
        padding-left: 0;
    }
    .about .about-content .personal-info .info-item p span
    {
        display: block;
        margin-left: 0;
    }
    
}
@media(max-width: 992px)
{
    .portfolio .portfolio-item,
    .contact .contact-info-item
    {
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .home .home-info
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .home .home-img
    {
        display: none;
    }
} 
@media(max-width:880px)
{
    .contact .contact-form .col-6,
    .contact .contact-info-item,
    .portfolio .portfolio-item,
    .service .service-item,
    .about .about-content .education,
    .about .about-content .experience,
    .about .about-content .skills,
    .about .about-content .personal-info
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .row .social
{
    margin: 0px;
    justify-content: space-around;
    max-width: 100%;
}
.row .social a
{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    color: var(--skin-color);
    background: var(--bg-black-custome);
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 30px;
}
.row .social a i
{
    padding-top: 5px ;
}
}
@media screen and (max-width:680px) {
    .section
    {
        margin: 0;
    }
    .contact .contact-title,
    .contact .contact-sub-title
    {
        margin: 10px;
        padding: 0;
        width: calc(100% - 20px);
        text-align: center;
    }
    .contact .contact-info-item
    {
        flex: 0 0 100%;
        width:calc(100% - 20px);
        margin: 10px 0;
    }
    .contact form
    {
        width: calc(100%);
        margin:10px 10px 10px 0px;
    }
    .contact .contact-form .form-item .btn
    {
        width: calc(100% - 20px);
        margin: 0 10px 0 10px;
        font-size: 20px;
        text-transform: uppercase;
    }
    .contact .social div
    {
        width: calc(100% - 20px);
        margin: 0 10px 0 10px; 
    }
    .contact .social div a
    {
        width: 100%;
        text-align: center;
        font-family: "Poppins", sans-serif;
        letter-spacing: 2px;
    }
    .contact .social div a i
    {
        margin: 2px 0 0 10px;
    }
    .about
    {
        margin: 0;
    }
    .about .about-content .row1
    {
        display: flex;
        flex: 0 0 100%;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about .about-content .personal-info .info-item
    {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .about .about-content .personal-info .info-item p
    {
        font-weight: 700 ;
        padding: 10px 0;
        text-align: center;
        font-size: 18px;
        color: var(--text-black-900);
        border-bottom: 1px solid var(--bg-black-50);
    }
    .about .about-content .personal-info .info-item p span
    {
        font-weight: 400;
        color: var(--skin-color);
        margin-left: 4px;
        display: inline-block;
    }
    .service
    {
        padding: 0;
    }
    .portfolio .portfolio-item
    {
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
        margin: 15px 0 0 0px;
    }
    .portfolio .portfolio-item-inner img
    {
        width: calc(100%);
        padding: 0;
    }
    .service .container
    {
        padding: 0px;
    }
    .service .service-item
    {
        width: calc(100% - 10px);
        margin: 10px 0 0 0;
    }
    .section
    {
        padding: 0 30px;
    }
    .personal-info .row2
    {
        width: calc(100% - 20px);
        margin: 0 10px 0 10px;
    }
}